{
    "endpoint":  "https://api.cloudflare.com/client/v4/",
    "account":   "abc123",
    "token":     "ABc123deF456",
    "namespace": {
        "use":     "preview",
        "preview": "def456",
        "prod":    "xyz789"
    }
}